{% extends 'base.html' %}
{% block content %}
{% load socialaccount %}
{% if user.is_authenticated %}
<div class="container">
  <h2>Notifications</h2>

  <ul class="list-group">
    {% for notification in notifications %}
    <li class="list-group-item">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <strong><p>{{ notification.message }}</p></strong>
        </div>
        <div>
            <span class="badge {% if notification.report.status == 'Review-Pending' %} bg-warning {% elif notification.report.status == 'Review-In-Progress' %} bg-info {% else %} bg-success {% endif %}">
              {{ notification.report.status }}
            </span>
        </div> 
      </div>
      <div class="container">  
        <p>{{ notification.timestamp }}</p>
        <p>Company Name: {{ notification.report.company_name }}</p>
        Report Details:  
        <a href="{% url 'app:report_detail' notification.report.report_uuid %}">{{ notification.report.reason }}</a>
      </div>
    </li>
    {% endfor %}
  </ul>
  
</div>
{% else %}
<p>
You are not logged in. Please login to view notifications about your current reports.
<p>
 {% endif %}
{% endblock %}